<!doctype html>
<html>
  <head>
      <title>Todo List</title>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <link rel="stylesheet" href="font-awesome.min.css">
      <link rel="stylesheet" href="todos.css">
  </head>
  <body>
    <h1>To Do Tracker</h1>
    <form action="/todo-post" method="POST">
      <input type="text" name="todo" placeholder="Input Task">
      <button class="input-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <div>
      <section class="todos-list">
        <ul>
          <% for(var i=0; i<todos.length; i++) { %>
            <li class="todo">
              <p><%= todos[i].todo %></p>
              <button onclick="toggleCompleted()">Complete</button>
              <button onclick="deleteTodo('<%= todos[i]._id %>')">Remove</button>
            </li>
         <% } %>
         
        </ul>
      </section>
    </div>
    <script src="main.js"></script>

  </body>
</html>
