body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:80px;
    word-wrap:break-word;
    background: rgb(27, 94, 92);
    color: white;
}
form{
    margin-top: 1.2rem;
    width: 30rem;
    height: 3rem;
    border-radius: 30px;
    background: white;
    display: flex;
    justify-content: center;
}

input{
    border: none;
    width: 75%;
    font-size: 2rem;
}

input:focus{
    outline: none;
}

.input-btn{
    border: none;
    background-color: white;
    font-size: 2rem;
}
.hidden{
    display: none;
}
.complete{
    background: greenyellow;
}